.nav .caret{
	border-top-color: white;
	border-bottom-color: white;
}

body{ 
	font-family: Futura;
}
.jumbotron{
	padding-top: 250px;
	height: 100%;
	width: 100%;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background-color: white; opacity:.9;
}

h3{
	text-align: center;
	font-size: 18px;
	font-weight: lighter;
	clear: both;
}
h2{
	text-align: center;
	font-size: 22px;
}
#myCarousel{
	position: relative;
}
#carText
{
    z-index:100;
    position:absolute;    
    color: white;
    opacity: 1;
    font-family: governor;
    font-size:70px;
    left: 0px;
    top:180px;
}