.nav .caret{
	border-top-color: white;
	border-bottom-color: white;
}

body{ 
	font-family: Futura;
	background-color: #222930;
}
.navbar-default{
	background-color: #E9E9E9;
	border-collapse: #E9E9E9;
}
.navbar-inverse{
	background-color: #E9E9E9;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background-color: white; opacity:.9;
}
.navbar-default .navbar-nav>li>a{
	color: #222930;
}
.navbar-default .navbar-brand{
	color: #222930;
}

h3{
	text-align: center;
	font-size: 18px;
	font-weight: lighter;
	clear: both;
	color: #E9E9E9;
}
h2{
	text-align: center;
	font-size: 22px;
	color: #E9E9E9;
}
#footerText{
	color: #222930;
}
#myCarousel{
	position: relative;
}
#carText
{
    z-index:100;
    position:absolute;    
    color: white;
    opacity: 1;
    font-family: governor, futura;
    font-size:70px;
    left: 0px;
    top:180px;
}
#logo{
	padding-top: 70px;
	padding-bottom: 50px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}
#motto{
	padding-bottom: 70px;
}
.item{
          display: block;
          height: 700px;
          max-width: 100%;
}



