<!DOCTYPE html>
<html>
<head>
    <title>The Peoples' Consultants</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>
<body class="divider">

<!--<script languange="javascript" type="javascript/text" src = "text.txt">
    <?php include 'header.html'; ?>
-->

<!-- Nav Bar
=========================================== -->
<div class="row-fluid">
    <div class="navbar-wrapper">
        <div class="container">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <a href="#" class="navbar-brand">the peoples' consultants</a>
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse navHeaderCollapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Learn
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Donate
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Money</a></li>
                                    <li><a href="#">Money</a></li>
                                    <li><a href="#">Money</a></li>
                                    <li><a href="#">Money</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%= yield %>

    <!-- FOOTER -->
    <footer>
        <div class="navbar navbar-inverse navbar-static-bottom">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>Tattooed American Apparel. <a href="http://www.bootply.com/62603">Tattooed American Apparel</a></p>
        </div>
    </footer>

</div><!-- /.container -->


</body>
</div>
</html>
